:root {
    font-size: var(--dimen-font-size);
}

html, body {
    font-family: 'Samim';
    direction: rtl;
}

.portfolio {
    margin: 50px;
}

.portfolio > .title {
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--color-light);
    background-image: linear-gradient(
            45deg,
            var(--color-primary),
            var(--color-secondary)
    );
    padding: 10px;
    width: 400px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .portfolio {
        margin: 40px 10px;
    }

    .portfolio > .title {
        width: 200px;
        font-size: 1.5rem;
    }
}