@font-face {
    font-family: 'Samim';
    src: url('../../font/samim/Samim.eot');
    src: url('../../font/samim/Samim.eot?#iefix') format('embedded-opentype'),
    url('../../font/samim/Samim.woff2') format('woff2'),
    url('../../font/samim/Samim.woff') format('woff'),
    url('../../font/samim/Samim.ttf') format('truetype'),
    url('../../font/samim/Samim.svg#Samim') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/montserrate/Montserrat-Regular.eot');
    src: url('../../font/montserrate/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../font/montserrate/Montserrat-Regular.woff2') format('woff2'),
    url('../../font/montserrate/Montserrat-Regular.woff') format('woff'),
    url('../../font/montserrate/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
