.acord .accordion {
    background-color: var(--color-blue);
    color: var(--color-light);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    margin: 2px 0;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: var(--color-light);
    overflow: hidden;
}

.ative, .accordion:hover {
    background-color: var(--color-grey);
}