.cardview {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px 0;
    height: 400px;
}

.cardview:hover .cardview-head .option-list {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.cardview .cardview-head {
    position: relative;
    overflow: hidden;
}

.cardview .cardview-head .option-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgba(49, 27, 146, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s linear;
    transform: translateY(-100%);
}

.cardview .cardview-head .option-list .option {
    background-color: transparent;
    color: var(--color-light);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: var(--dimen-radius);
}

.cardview .cardview-body {
    text-align: center;
    padding: 10px;
}

.cardview .cardview-body .title {
    font-size: 2rem;
}

.cardview .cardview-body .description {
    font-size: 1.2rem;
    color: var(--color-grey);
    line-height: 2;
    text-align: justify;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .cardview {
        position: relative;
    }

    .cardview .cardview-head {
        position: initial;
    }

    .cardview .cardview-head .option-list {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        top: initial;
        bottom: 0;
    }
}