.footer {
}

.footer .footer-body {
    height: 250px;
    background-image: linear-gradient(
            45deg,
            var(--color-primary),
            var(--color-secondary)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer-body .logo {
    background-image: url('../../img/logo-2.jpg');
    background-size: cover;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.footer .footer-body .title {
    color: var(--color-light);
    margin-top: 10px;
    font-family: 'Montserrat';
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50px;
}

.footer .footer-copyright {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 20px;
    text-align: center;
}