.header {
    background-color: var(--color-primary);
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--color-dark) 0 5px 10px 0;
    position: relative;
    z-index: 1;
}

.header .nav .btn-menu {
    background-color: transparent;
    color: var(--color-light);
    font-size: 3rem;
    border: none;
    display: none;
    padding-top: 7px;
}

.header .nav .items {
    display: flex;
}

.header .nav .items.active {
    transition: 1s ease;
    visibility: visible;
    opacity: 1;
}

.header .nav .items .item .link {
    display: block;
    color: var(--color-light);
    padding: 14px;
    font-size: 1.5rem;
}

.header .nav .items .item .link:hover {
    background-color: var(--color-secondary);
}

.header .logo {
    height: 40px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--color-light);
    border-radius: var(--dimen-radius);
    box-shadow: var(--color-primary) 0 0 10px 0 inset;
}

.header .logo .title {
    color: var(--color-primary);
    font-size: 2rem;
    margin-left: 5px;
    font-family: 'Montserrat';
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .header .nav .btn-menu {
        display: block;
    }

    .header .nav .items {
        flex-direction: column;
        background-color: var(--color-dark);
        position: absolute;
        width: 100%;
        top: 50px;
        visibility: hidden;
        opacity: 0;
    }
}