.intro {
    background-image: url('../../img/bg-intro.jpg');
    background-size: cover;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro .title {
    color: var(--color-light);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: var(--dimen-radius);
}

.intro .sub-title {
    color: var(--color-light);
    font-size: 1.5rem;
    margin-top: 30px;
    background-color: rgba(49, 27, 146, 0.5);
    padding: 20px;
    border-radius: var(--dimen-radius);
}

.intro .btn-resume {
    background-image: linear-gradient(
            45deg,
            var(--color-primary),
            var(--color-secondary)
    );
    color: var(--color-light);
    padding: 15px 30px;
    border: none;
    font-size: 1.5rem;
    margin-top: 30px;
    cursor: pointer;
    border-radius: var(--dimen-radius);
}

.intro .btn-resume:hover {
    animation-name: anim-btn-resume;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes anim-btn-resume {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.intro .arrow {
    margin-top: 20px;
    color: var(--color-light);
    font-size: 2rem;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .intro {
        height: calc(50vh - 50px);
    }

    .intro .title {
        font-size: 1.5rem;
    }

    .intro .sub-title {
        display: none;
    }
}